/* HEADER */
nav {
  background-color: #6fcdc2; /* Cambiado de #eaae00 a #182626 */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  width: 100%;
  position: fixed;
}

.logo-company {
  object-fit: fill;
  border-radius: 30%;
  width: 13%;
  aspect-ratio: 1/1;
  margin-top: 8px;
  margin-left: 150px;
  display: grid;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item {
  color: #3e4948; /* Cambiado de #fefaf5 a #E9F2F1 */
  text-decoration: none;
  margin-right: 50px;
  font-size: 25px;
}

.menu-item:hover {
  font-size: 29px;
  transition: 0.5s;
}

input.input-menu {
  height: 30px;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #6A7273; /* Cambiado de #ffc400 a #6A7273 */
  border: none;
  color: #E9F2F1; /* Cambiado de #ffffff a #E9F2F1 */
  font-size: 19px;
  box-shadow: 30px 30px 190px -1px #000000;
}

input.input-menu::placeholder {
  color: #E9F2F1; /* Cambiado de #fff a #E9F2F1 */
  font-size: 19px;
}

input.input-menu:focus {
  outline: none; /* quita el borde cuando hay un focus */
}

.button-menu {
  background-color: #070D0D; /* Cambiado de #00bfcc a #070D0D */
  height: 45px;
  width: 50px;
  border: none;
  box-shadow: 10px -20px 180px -10px #000;
  margin-right: 10px;
}

.lupa-button {
  height: 25px;
  width: 25px;
  margin-left: 13px;
  margin-top: 10px;
}

/* celulares */
@media (max-width: 700px) {
  nav {
    background-color: #182626; /* Cambiado de #eaae00 a #182626 */
    height: 60px;
  }

  .menu {
    display: none;
  }
}

/* tablet */
@media (min-width: 700px) and (max-width: 1000px) {
  .logo-company {
    display: none;
  }

  .menu-item {
    font-size: 20px;
  }
}